@using HUD.Models
@inherits ContactListModel
@inject IJSRuntime JSRuntime
@using Microsoft.AspNetCore.Http
@using Humanizer;

@if (_contacts is not null && _contacts.Count() > 0)
{

    <div class="card task-list-card contact-card" Style="background-color: white">


        <table class="table table-bordered contact-table">
            <thead>
                <tr>
                    <th>Ticket</th>
                    <th>Name</th>
                    <th>Message</th>
                    <th>Time</th>
                </tr>
            </thead>

            <tbody>

                @foreach (Contact contact in _contacts)
                {
                    <tr class="trow">
                        <td>@contact.number</td>
                        <td>@contact.customerName</td>
                        <td>@contact.body.Split("\n")[0]</td>
                        <td>@contact.created_at.Humanize()</td>
                    </tr>
                }
            </tbody>
        </table>



        <!--<div class="table-task">

            <div class="trow theader tblue">
                <div class="tcell">-->
        @*Name*@
        <!--</div>
        <div class="tcell">-->
        @*Age*@
        <!--</div>
        <div class="tcell">-->
        @*Occupation*@
        <!--</div>
        <div class="tcell">-->
        @*Location*@
        <!--</div>
            </div>

        </div>-->
    </div>
}
else
{
    <div class="alert-primary">No new messages</div>
}


@code {


}
